/*Diseño de las paginas*/



.object {
	
  transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}
.van {
    top: 45%;
    left: 44%;
}

#axis:hover .move-down {
    transform: translate(0,100%);
    -webkit-transform: translate(0,100%);
    -o-transform: translate(0 ,100%); 
    -moz-transform: translate(0,100%);

}









/*Diseño basico para todas las paginas*/
*{
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header{
	width: 100%;
  	position: fixed;
  	z-index: 100;
}

body{
	font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5{
	font-family: 'Anton', sans-serif;
}


/*-----------------------------------------------------------*/
.boton{
	opacity: 0.5;
}

/*da un borde redondeado al contenedor de los logos
de las redes sociales que estan en el footer*/
.cover-logos{
	border-radius:25px;
}

/*efecto de color en el fondo de los logos de las
redes sociales, aparece cuando se pasa el raton sobre
estos*/
.cover-logos:hover{
	width:105%;
}
.edicion-links ul li{
	list-style: none;
}